# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
venv/

# VS Code
.vscode/
.continue

# System files
.DS_Store
Thumbs.db

# Frontend build artifacts
**/node_modules
**/build


videos/

.env

analytics.db
processed_video.txt